<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>Document</title>
</head>

<body>
    <button onclick="cod()">Cash on Delivery</button>
    <div class="h-screen py-20 bg-cover bg-no-repeat bg-fixed"
        style="background-image: url(https://wallpaperaccess.com/full/4597139.jpg)">
        <div class="container m-auto text-center px-6 opacity-100">
            <h2 class="text-4xl font-bold mb-2 text-white">Welcome to Rone demo payment</h2>
            <h3 class="text-2xl mb-8 text-black font-bold"> just for <span class="text-green-400">Rs : 100</span></h3>
            <button
                class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider hover:border-transparent hover:text-blue-500 hover:bg-gray-800"
                id="rzp-button1">Razorpay payment</button>
        </div>
    </div>
</body>
<script>
    axios.post('/api/paymentOrder', {
        "userId": "2",

    }).then((info) => {
        const userId="2"
        var options = {
            "key": "rzp_test_ebPS0dfN5A4uYA", // Enter the Key ID generated from the Dashboard
            "name": "Arclifs",
            "description": "Test Transaction",
            "image": "https://rone-demo.vercel.app/static/media/Logo1.157c110206badb2674bb8db1397d91a0.svg",
            "order_id": info.data.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": `/api/verifyPayment/${userId}`,
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    })

    
</script>

</html>